# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Knitr
2. Cadet
3. Ggplot

| Data Science Tools |
| -----------------: |
| Github             |
| Anaconda           |
| Jupyter Notebooks  |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [9]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [14]:
200/60

3.3333333333333335

Objectives:
- Use ordered/unordered lists
- Learn Python Basics
- Application of basic Markdown syntax
- Clone, commit and push with GitHub

## Miquel Mauri Richarte